[submodule "discou-alfa"]
	path = discou-alfa
	url = https://github.com/the-open-university/discou-alfa.git
[submodule "discou-bookmarklet"]
	path = discou-bookmarklet
	url = https://github.com/the-open-university/discou-bookmarklet.git
[submodule "discou-indexer"]
	path = discou-indexer
	url = https://github.com/the-open-university/discou-indexer.git
[submodule "discou-rest"]
	path = discou-rest
	url = https://github.com/the-open-university/discou-rest.git
[submodule "discou-indexer-archetype"]
	path = discou-indexer-archetype
	url = https://github.com/the-open-university/discou-indexer-archetype.git
